.list-item-container {
  padding: 20px;
  margin: 20px;
  width: 50vw;
  background-color: #e0e5ec;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  // box-shadow:
  //  -7px -7px 20px 0px #fff9,
  //  -4px -4px 5px 0px #fff9,
  //  7px 7px 20px 0px #0002,
  //  4px 4px 5px 0px #0001,
  //  inset 0px 0px 0px 0px #fff9,
  //  inset 0px 0px 0px 0px #0001,
  //  inset 0px 0px 0px 0px #fff9,
  //  inset 0px 0px 0px 0px #0001;
}

.list-item-header {
  display: flex;
  justify-content: start;
  align-items: center;
}

.tag {
  height: fit-content;
  font-size: 12px;
  padding: 10px;
  border-radius: 100px;
  margin: 5px;
}

.tag-directed {
  color: darken($color: $green, $amount: 10%);
  background-color: rgba($green, 0.15);
}

.tag-weighted {
  color: darken($color: $blue, $amount: 10%);
  background-color: rgba($blue, 0.15)
}

//