.selector-box {
  display: inline-block;
  vertical-align: middle;
}

.selector-text {
  height: fit-content;
  margin: 0 10px;
}

.node-selector-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.add-edge-button {
  margin: 5px;
  display: block;
  border-radius: 50px;
  border: 1px solid black;
  background: white;
  padding: 10px 20px;
  outline: none;
}

.add-edge-button:hover {
  background-color: lightgray;
}

.editor-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(100% - 86px);
  overflow: auto;
}

.editor-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 86px;
  padding: 10px;
}

.editor-title {
  margin: 5px 0;
}

// .editor-item-container {
//   height: 550px;
//   overflow: auto;
//   background-color: slateblue;
// }

.editor-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}