.list-item {
  padding: 0;
  margin: 5px;  
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.editor-item-input {
  font-size: 14px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  width: 50px;
}

.editor-item-input:focus {
  outline: none;
  border: 1px solid red;
}

.remove-button {
  display: block;
  border-radius: 44px;
  border: 1px solid black;
  background: white;
  width: 44px;
  height: 44px;
  outline: none;
}

@media (hover: hover) {
  .remove-button:hover {
    background-color: lightgray;
  }
}

.tag-text {
  align-items: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 500px) {
  .tag-text {
    display: none;
  }
}