.grid-cell {
  background-color: white;
  width: $cell-size;
  text-align: center;
  vertical-align: middle;
  line-height: $cell-size;
}

.grid-cell-start {
  background-color: green;
}

.grid-cell-end {
  background-color: red;
}