// .bg {
//   background-color: #FFFFFF;
//   height: 100vh;
//   background-image: url("../../public/images/wave.png");
//   background-size: cover;
//   background-position: top;
//   position: relative;
// }

.bg {
  background-color: #FFFFFF;
  background-image: url("../../public/images/wave3.png");
  background-size: cover;
  background-position: top;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.link {
  color: $primary-text;
  text-decoration: none;
  display: inline-block;
  background-color: #ffffff;
  padding: 10px;
  margin: 0 5px;
  border-radius: 10px;
}

@media (hover: hover) {
  .link:hover {
    color: #D596FF;
  }
}

.navigation-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;  
}

.title-box {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.title {
  color: $primary-text;
  display: block;
  font-size: 70px;
  animation-name: slideInFromRight;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Big screens */
@media (min-width: 1200px) { 
  .title {
    font-size: 4em;
  }
} 
 
/* Landscape tablets and medium desktops */ 
@media (min-width: 992px) and (max-width: 1199px) { 
  .title {
    font-size: 3em;
  }
} 
 
/* Portrait tablets and small desktops */ 
@media (min-width: 768px) and (max-width: 991px) { 
  .title {
    font-size: 2.5em;
  }
} 
 
/* Landscape phones and portrait tablets */ 
@media (max-width: 767px) { 
  .title {
    font-size: 2em;
  }
} 
 
/* Portrait phones and smaller */ 
@media (max-width: 480px) { 
  .title {
    font-size: 1em;
  }
  .title-box {
    top: 40%;
  }
} 

@media (max-height: 400px) {

  .title {
    font-size: 1em;
  }

  .title-box {
    top: 40%;
  }

  .subtitle {
    font-size: 10px;
  }

  .link {
    font-size: 12px;
  }
}