.button-row {
  width: 100%;
}

.media-button-container {
  margin: 0 auto;
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.media-button {
  width: 50px;
  height: 50px;
  margin: 20px auto;
  display: block;
  border: none;
  border-radius: 50px;
  background: #FFFFFF;
  outline: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

.media-button:active {
  transform: translateY(1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.media-button:hover {
  background: radial-gradient(circle, #0ff 0%, #e0e5ec 60%);
  animation: colorchange 10s linear infinite;
}

@keyframes colorchange {
	to {
    filter: hue-rotate(360deg);
  }
}

@media (max-width: 1200px) {
  .media-button-container {
    width: 100%;
  }
}