.node {
  background-color: white;
  width: $cell-size;
  text-align: center;
  vertical-align: middle;
  line-height: $cell-size;
}

.node-start {
  background-color: green;
}

.node-end {
  background-color: red;
}

.node-visited {
  background-color: yellow;
}