.node-selector {
  font-size: 14px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  outline: none;
}

.disable {
  user-select: none;
  pointer-events: none; 
}