.bar-wrapper {
  width: 100vw;
  height: 50%;
  text-align: center;
  position: relative;
  justify-content: center;
}

.bars {
  height: calc(95% - 10px);
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  left: 50%;
  transform: translate(-50%, 0);
}

.bar {
  width: 50px;
  margin: 0 10px;
  background: #C1C6CC;
  display: inline-block;
  position: relative;
  border-radius: 10px;
  vertical-align: bottom;
}

.bar-text {
  position: absolute;
  left: 0; 
  right: 0; 
  margin: 10px auto;
  width: 50px;
  bottom: 0;
  border: none;
  outline: none;
  text-align: center;
  background: none;
  color: darken($color: #C1C6CC, $amount: 30);
  pointer-events: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.bar-text-editable {
  color: red;//darken($color: #C1C6CC, $amount: 100);
  pointer-events: visible;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid red;
}

.sorting-visualizer-wrapper {
  // display: flex;
  // flex-direction: column;
  // height: 100vh;
  // width: 100%;
  position: fixed;  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.sorting-visualizer-content {
  position: fixed;  
  top: 50px;
  right: 0;
  bottom: 95px;
  left: 0;
}

@media (max-width: 566px) {
  .bar {
    width: 40px;
  }

  .bar-text {
    width: 40px;
  }
}

@media (max-width: 500px) {
  .bar {
    margin: 0 8px;
  }
}

@media (max-width: 440px) {
  .bar {
    width: 33px;
    margin: 0 4px;
  }

  .bar-text {
    width: 33px;
  }
}

@media (max-width: 330px) {
  .bar {
    width: 30px;
    margin: 0 4px;
  }

  .bar-text {
    width: 30px;
  }
}