// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Grid
$cell-size: 100px;

// Colors
$primary-text: #090E24;
$blue: #007AFC;
$green: #00FC73;
$off-white: #F4F4F4;